# Dependency directories
node_modules/

# TypeScript build output
dist/

# Visual Studio Code settings
.vscode/

# IntelliJ settings
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Environment variables file
.env
